<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FundamentAções</title>

    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/gridIndex.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../images/favicon.png">
</head>
<body>
    <div id="page-landing">
        <div class="grid-header grid-header-style">
            <header>
                <h1>Welcome to FundamentAções</h1>
                <h2>The website to see data of IBOV and IFIX</h2>
                <a href="./list">Enter</a>
            </header>
        </div>
        
        <div class="grid-main grid-main-style">
            <main>
                <section>
                    <div class="informations">
                        <h2>IBOV</h2>
                        <p><span>{{ totalAcoes }}</span> companies listed</p>
                    </div>
                    <div class="informations">
                        <h2>IFIX</h2>
                        <p><span>{{ totalFii }}</span> FIIs listed</p>
                    </div>
                </section>
            </main>
        </div>

        <div class="grid-footer grid-footer-style">
            <footer>Developed by&nbsp<strong>Allan Prado</strong></footer>
        </div>
    </div>
</body>
</html>